<HTML>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
            integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

        <title>GPT2-Titles</title>
    </head>
    <body>
        <div class = "container">
            <div class="jumbotron mt-3">

                <h1>GPT2-Titles</h1>
                <h3>Generate titles based on tags</h3>

                <hr class="solid">

                <h2>How to use</h2>
                <div id="usage">
                    <p>1. input start message with tags</p>
                    <p>2. Press the Run button and wait for about 3 seconds to get the result.</p>
                </div>


                <hr class="solid">
                <h2>Example</h2>
                <div id="usage">
                  <h5>tags united states,introduce usa title</h5>
                </div>
                <hr class="solid">
                <p>
              
  <p/>

                <hr class="solid">
                <h2>Generate your own title </h2>
                <p>Please enter start tags below</p>
                <input id='review'>
                <button onclick='printName()'>RUN</button>
                <p></p>
                <script type="text/javascript">
                 function printName()  {
                   const review = document.getElementById('review').value;

                   fetch('/generate?query='+review).then(function(response){
                     response.text().then(function(text){
                       document.getElementById("result").innerText = text;
                     })
                   })
                 }
               </script>
                  <hr class="solid">
                <h2>your generated title</h2>
                  <hr class="solid">
                <div id='result'></div>

    </div>
            </div>
        </div>
    </body>
</HTML>
